<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
    <script src="/javascripts/validar-login.js"></script>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        
        <div class="container container-form">
            <% if (typeof error != 'undefined'){ %>
                <%= error %>
            <% } %>
            <div class='login_container'>
                <form action="/users/login" method="POST" class="newproduct" id="login" novalidate>
                    <!-- <div class="col-lg-7 col-sm-12 cont1"> -->

                        <label for="email">e-mail</label>
                        <input type="email" name="email" id="email" class="form-control" required="required" placeholder="e-mail">
                        <div class="container_error">
                            <p id="error_email" class="error"></p>
                        </div>

                        <label for="password">contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" required="required" placeholder="contraseña">
                        <div class="container_error">
                            <p id="error_password" class="error"></p>
                        </div>

                        <div class="remember">
                            <label for="remember">¿permanecer conectado?</label>
                            <input type="checkbox" id="remember" name="remember" value="true" class="checkbox_remember">
                        </div>

                        <div class="regorlog">
                            <div class="link_reg">
                                <a href="/users/registro">Crear cuenta</a>
                            </div>
                            <div class="btn_log">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        </div>
                    
                    <!-- </div> -->

                </form>
            </div>
        </div>

    </main>

    <%- include('./partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>