<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
    <script src="/javascripts/validar-registro.js"></script>
</head>
<body>

    <%- include('./partials/header') %>


    <main>
        <div class="container container-form">
            <div class="col-12">
                <% if (typeof errors != 'undefined') { %>
                  <% for (error of errors) { %>
                    <div class="badgeWar badge-danger"><%= error.msg %></div>
                  <% } %>
                <% } %>
            <!-- <div class="row newproduct"> -->
                <div class="register_container">
                    <form action="/users/registro" method="POST" class="newproduct" enctype="multipart/form-data" id="userform" novalidate>
                    
                        <label for="name">nombre</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="nombre" required="required">
                        <div class="container_error">
                            <p id="error_nombre" class="error"></p>
                        </div>

                        <label for="apellido">apellido</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" placeholder="apellido" required="required">
                        <div class="container_error">
                            <p id="error_apellido" class="error"></p>
                        </div>

                        <label for="email">e-mail</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="correo Electronico" required="required">
                        <div class="container_error">
                            <p id="error_email" class="error"></p>
                        </div>

                        <label for="password">contrase単a</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="contrase単a" required="required">
                        <div class="container_error">
                            <p id="error_password" class="error"></p>
                        </div>

                        <label for="confirmarPassword">confirmar contrase単a</label>
                        <input type="password" name="ConfirmarPassword" id="confirmarPassword" class="form-control" placeholder="confirmar contrase単a" required="required">      
                        <div class="container_error">
                            <p id="error_ConfirmarPassword" class="error"></p>
                        </div>
                        
                        <label>imagen de perfil</label>
                        <div class="imageContainer" id="imageContainer">
                            <label for="imgUser">
                                <img id="previewImage" src="/images/image_upload.jpg" alt="imagen de perfil a cargar">
                            </label>
                            <input type="file" name="imgUser" id="imgUser" required="required">
                        </div>
                        <div class="container_error">
                            <p id="error_img" class="error"></p>
                        </div>

                        <div class="btn_reg">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                        
                    </form>
                </div>
            <!-- </div> -->
        </div>

    </main>

    



    <%- include('./partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>