<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
    <script src="/javascripts/validar-registro.js"></script>
</head>
<body>

    <%- include('./partials/header') %>


    <main>
        <div class="container container-form">
            <div class="col-12">
                <% if (typeof errors != 'undefined') { %>
                  <% for (error of errors) { %>
                    <div class="badgeWar badge-danger"><%= error.msg %></div>
                  <% } %>
                <% } %>
            <!-- <div class="row newproduct"> -->
                <form action="/users/registro" method="POST" class="row newproduct" enctype="multipart/form-data" id="userform" novalidate>
                    <div class="col-lg-7 col-sm-12 cont1">

                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required="required">
                        <p id="error_nombre" class="error"></p>

                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellido" required="required">
                        <p id="error_apellido" class="error"></p>

                        <label for="email">Correo Electronico</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Correo Electronico" required="required">
                        <p id="error_email" class="error"></p>

                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
                        <p id="error_password" class="error"></p>

                        <label for="confirmarPassword">Confirmar password</label>
                        <input type="password" name="ConfirmarPassword" id="confirmarPassword" class="form-control" placeholder="Confirmar password" required="required">      
                        <p id="error_ConfirmarPassword" class="error"></p>

                        <hr>
                        <label for="imgUser" >Cargar imagen de perfil </label>
                        <input type="file" name="imgUser" id="imgUser" required="required">
                        <p id="error_img" class="error"></p>
						<hr>

                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    
                    </div>



                </form>
            <!-- </div> -->
        </div>

    </main>

    



    <%- include('./partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>