/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Variables */
:root {
  --yellow: #FCE77A;
  --white: #FFFFFF;
  --celeste: #72CEE0;
  --gray: #666666;
  --light-gray: #ebebeb;
}

/* Basicas */

body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul{
  margin-bottom: 0rem;
}

a {
  color: var(--celeste);
  display: inline-block;
}

/* Header */

header{
  margin-bottom: 30px;
}

#contenedor-header{
  border: var(--celeste)
}

.card-header{
  background-color: var(--white);
  border: var(--white);
}

.top-navbar {
  font-size: 1.5em;
  list-style: none;
}

.left-bar a {
  display: block;
  padding: 5px 5px;
}

.right-bar a {
  display: block;
  padding: 5px 5px;
}

.left-bar,
.right-bar{
  list-style-type: none;
}

.left-bar li,
.right-bar li{
  float: left;
  padding-left: 10px;
}

#main-bar{
  justify-content: space-between;
  border-bottom: solid 1px var(--celeste);
  background-color: var(--white);
}

#main-bar2{
  justify-content: space-between;
}

.badge{
  background-color: var(--celeste);
}

#logo {
  width: 80px;
}

.search-form_input {
  border: solid 1px var(--celeste);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 35px;
  font-size: 1em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px var(--celeste);
  color: var(--gray);
  cursor: pointer;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

/* main-productos */

.productos-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}

.buy-buttons-group{
  position: relative;
  display: flex;
  align-items: center;
}

.buy-buttons-group button{
  background-color: var(--celeste);
}

/* main-footer */

.borde-rojo{
  border: 1px red solid;
}

.main-footer{
  margin-top: 30px;
}

.nav1-footer{
  align-self: center;
}

.nav1-footer ul{
  list-style-type: none;
}

.nav1-footer ul li{
  padding-bottom: 10px;
}

.nav-suscribe{
  align-self: center;
}

.nav-suscribe p,
.nav-suscribe i{
  color: var(--celeste);
}

.nav-suscribe i{
  font-size: 1.5em
}



/* estilo del carrito */


.product {
  border: 1px solid var(--celeste);
  margin-bottom: 5px;

}

.carrito {
  justify-content: center;
  width: 80%;
}

.product-image img {
  width: 100%;
  height: 100%;
  margin: 2px;
}

.product-image {
  padding: 0px;
  text-align: center;
  align-self: center;
}

.product-amount {
  align-self: center;
  text-align: center;
}

.product-amount i, h3 {
  display: inline;
}

.product-description {
  align-self: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-description h2 {
  font-size: 15px;
}

.product-description p {
  font-size: 12px;
}

.product-price {
  padding-top: 8px;
  text-align: right; 
}

.total {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--celeste);
  text-align: right;
}

.product-price h3{
  font-size: 20px; 
}

@media (max-width: 460px) {

  .carrito {
    width: 100%;
  }

  body {
    padding: 0px;
  }
}


/* estilo del addproduct */


.newproduct {
  justify-content: center;
}

.cont1 {
  margin-left: 2px;
}

.cont2 {
  text-align: center;
}

.cont2 img {
  margin-top: 22px;
  border-radius: 6px;
  width: 80%;
  border: 1px solid #adbaba;
}

.container-form {
  width: 80%;
}

form input, select, textarea {
  width: 100%;
  margin-bottom: 5px;
}