<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div><img src="/images/opc_04_logo.png" class="logo-footer" alt="logo de la veterinaria"></div>
      </div>
      <div class="col-md-5 pt-3 pb-3">
        <div class="row justify-content-center">
          <div class="col-5">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/products/category/dog">Perros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/category/cat">Gatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/category/fish">Peces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/category/bird">Aves</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/category/rodent">Roedores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/category/reptile">Reptiles</a>
              </li>
            </ul>
          </div>
          <div class="col-5">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/appointments">Turnos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shops">Locales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4 pt-3 pb-3">
        <div>
          <p>Suscribase a nuestro newsletter:</p>
          <form action="/products/search" method="GET">
            <div class="input-group">
              <input type="search" name="query" class="form-control" placeholder="ingresá tu email">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Suscribir</button>
              </div>
            </div>
          </form>

        </div>
        <div class="pt-3">
          <i class="fab fa-facebook fa-lg pr-2"></i>
          <i class="fab fa-instagram fa-lg pr-2"></i>
          <i class="fab fa-twitter fa-lg pr-2"></i>
          <i class="fab fa-pinterest fa-lg pr-2"></i>
          <i class="fab fa-youtube fa-lg pr-2"></i>
        </div>

      </div>
    </div>
  </div>
</footer>