<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
    <div class="col-12 col-lg-3"><img src="/images/opc_01_logo.jpg"></div>
    <div class="col-12 col-lg-2 nav1-footer">
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Productos </a></li>
        <li><a href="#"> Servicios</a></li>
        <li><a href="#"> Locales</a></li>
        <li><a href="#"> Contacto</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-2 nav1-footer">
      <ul>
        <li><a href="#"> Tienda </a></li>
        <li><a href="#"> Buscar </a></li>
        <li><a href="#"> Envios</a></li>
        <li><a href="#"> Devoluciones</a></li>
        <li><a href="#"> Atencion a clientes</a></li>
      </ul>
      
    </div>
    <div class="col-12 col-lg-5 nav-suscribe">
      <p>Suscribase a nuestro newsletter:</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ingrese su correo" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Suscribir</button>
        </div>
      </div>
        <div>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-youtube"></i>
      </div>
      </div>

    </div>


  </div>
</footer>