<header>
    <div id="contenedor-header" class="card">
      <div class="card-header">
        <div class="container">
          <div id="main-bar" class="row align-items-center">
        <ul class="left-bar">
					<li><a href="#"> Telefono </a></li>
					<li><a href="#"> Correo </a></li>
          <li><a href="#"> Whatsapp</a></li>
        </ul>
        <ul class="right-bar">
          <li><a href="#">Iniciar Sesión </a></li>
        </ul>
          </div>
        </div>
      </div>
      
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="container">
            <div id="main-bar2" class="row align-items-center">
              <img id="logo" src="/images/opc_01_logo.jpg">
          <ul class="left-bar">
            <li><h2><a href="/" class="badge badge-primary">Home</a></h2></li>
            <li><h2><a href="/products" class="badge badge-primary">Productos</a></h2></li>
            <li><h2><a href="#" class="badge badge-primary">Servicios</a></h2></li>
            <li><h2><a href="#" class="badge badge-primary">Turnos</a></h2></li>
            <li><h2><a href="/products/create" class="badge badge-primary">Vender</a></h2></li>
          </ul>
            <form action="" method="get" class="search-form">
              <input type="text" name="search" placeholder="Buscar" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </header>